<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo/style.css" />
    <title>preEntrega2</title>
  </head>

  <body>
    <header>
      <h1>fuera De La Caja</h1>
      <nav>
        <ul class="menu">
          <li class="item"><a href="../index.html">Inicio</a></li>
          <li class="item"><a href="./Nosotros.html">Nosotros</a></li>
          <li class="item">
            <a href="./gallery.html">Galería</a>
            <ul class="submenu">
              <li class="sub_i">
                <a href="./Inteligencia.html">> Inteligencia</a>
              </li>
              <li class="sub_i">
                <a href="./Longboard.html">> Longboard</a>
              </li>
              <li class="sub_i">
                <a href="./Rock_Roll.html">> Rock & Roll</a>
              </li>
            </ul>
          </li>
          <li class="item"><a href="./Contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <div class="box1">
          <h2>Para comunicarse</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam
            reprehenderit, obcaecati laudantium earum quis mollitia accusantium,
            veritatis beatae dolor ullam consequatur asperiores a ea vero nam
            saepe porro incidunt fugiat!
          </p>

          <img src="../estilo/img/rock0.jpg" alt="" />
        </div>
      </section>
    </main>

    <footer>
      <section>
        <a href="./Contacto.html">Ir al comienzo</a>
        <a href="mailto: luchellifederico@gmail.com">Email</a>
      </section>
      <p>Copyright 2023</p>
    </footer>
  </body>
</html>
