
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo/style.css" />
    <title>preEntrega2</title>
  </head>
  <body>
    <header>
      <h1>fuera De La Caja</h1>
      <nav>
        <ul class="menu">
          <li class="item"><a href="../index.html">Inicio</a></li>
          <li class="item"><a href="./Nosotros.html">Nosotros</a></li>
          <li class="item">
            <a href="./gallery.html">Galería</a>
            <ul class="submenu">
              <li class="sub_i"><a href="./Inteligencia.html">> Inteligencia</a></li>
              <li class="sub_i">
                <a href="./Longboard.html">> Longboard</a>
              </li>
              <li class="sub_i">
                <a href="./Rock_Roll.html">> Rock & Roll</a>
              </li>
            </ul>
          </li>
          <li class="item"><a href="./Contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    </header>

    <main>
      <section>
        <div class="box1">
          <h2>Inteligencia Artificial</h2>
          <p>
            La inteligencia artificial (IA) es el campo de la informática que
            se dedica al desarrollo de algoritmos y sistemas que pueden
            realizar tareas que normalmente requieren inteligencia humana,
            como el aprendizaje, el razonamiento y la percepción. 
            La IA se divide en dos categorías principales: la IA débil y 
            la IA fuerte.
          </p>

          <img class="foto2" src="../estilo/img/ia1.jpg" alt="foto2" />
          <img class="foto2" src="../estilo/img/ia2.jpg" alt="foto2" />
          <p>
            La IA débil, también conocida como IA de uso específico, 
            se enfoca en el desarrollo de sistemas que pueden realizar 
            tareas específicas, como el reconocimiento de voz o la traducción 
            automática. Estos sistemas se basan en algoritmos y técnicas 
            estadísticas para aprender de los datos y realizar sus tareas.
          </p>
          <img class="foto2" src="../estilo/img/ia3.jpg" alt="foto2" />
          <img class="foto2" src="../estilo/img/ia1.jpg" alt="foto2" />
          <p>
            La IA fuerte, también conocida como IA general, se enfoca en el 
            desarrollo de sistemas que pueden realizar cualquier tarea que 
            pueda realizar un ser humano, como el aprendizaje, el razonamiento 
            y la percepción. Estos sistemas se basan en redes neuronales y 
            algoritmos de aprendizaje automático para aprender de los datos 
            y realizar sus tareas. <br>
            La IA se utiliza en una amplia variedad de aplicaciones, desde 
            el reconocimiento de voz y la traducción automática hasta el 
            diagnóstico médico y la conducción autónoma. Está en constante 
            evolución y se espera que tenga un impacto significativo en la 
            sociedad en el futuro cercano.
          </p>
          <img class="foto2" src="../estilo/img/ia2.jpg" alt="foto2" />
          <img class="foto2" src="../estilo/img/ia3.jpg" alt="foto2" />

        </div>
      </section>
    </main>
    <footer>
      <section>
        <a href="./Inteligencia.html">Ir al comienzo</a>
        <a href="mailto: luchellifederico@gmail.com">Email</a>
      </section>
      <p>Copyright 2023</p>
    </footer>
  </body>
</html>
