<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo/style.css" />
    <title>preEntrega2</title>
  </head>
  <body>
    <header>
      <h1>fuera De La Caja</h1>
      <nav>
        <ul class="menu">
          <li class="item"><a href="../index.html">Inicio</a></li>
          <li class="item"><a href="./Nosotros.html">Nosotros</a></li>
          <li class="item">
            <a href="./gallery.html">Galería</a>
            <ul class="submenu">
              <li class="sub_i">
                <a href="./Inteligencia.html">> Inteligencia</a>
              </li>
              <li class="sub_i">
                <a href="./Longboard.html">> Longboard</a>
              </li>
              <li class="sub_i">
                <a href="./Rock_Roll.html">> Rock & Roll</a>
              </li>
            </ul>
          </li>
          <li class="item"><a href="./Contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <div class="box1">
          <h2>Longboard</h2>
          <p>
            Andar en longboard consiste en deslizarse sobre una tabla larga y
            estrecha llamada longboard. Puedes usar tus pies para empujar y
            mantener el equilibrio mientras te deslizas por la calle, en un
            parque o en una colina. El longboarding también puede incluir trucos
            y acrobacias, como giros y slides. Es una forma divertida y
            relajante de transportarse y también puede ser utilizado para
            competir en eventos de carreras y de estilo libre.
          </p>
          <img class="foto2" src="../estilo/img/long0.jpg" alt="foto2" />
          <img class="foto3" src="../estilo/img/lon2.jpg" alt="foto3" />
          <p>
            El longboard y el surf tienen algunas similitudes en cuanto a la
            técnica y el estilo de deslizamiento. Ambas actividades implican
            mantener el equilibrio sobre una tabla mientras se mueve en el agua
            o en el asfalto. En ambos casos, se usan los pies para empujar y
            dirigir la tabla y se pueden realizar giros y trucos. Sin embargo,
            el surf requiere una gran habilidad y entrenamiento para poder
            manejar las olas, mientras que el longboarding se puede aprender en
            menos tiempo y se practica en superficies planas.
          </p>

          <img class="foto2" src="../estilo/img/lon3.jpg" alt="foto2" />
          <img class="foto3" src="../estilo/img/long1.jpg" alt="foto3" />
          <p>
            El longboard y el surf tienen algunas similitudes en cuanto a la
            técnica y el estilo de deslizamiento. Ambas actividades implican
            mantener el equilibrio sobre una tabla mientras se mueve en el agua
            o en el asfalto. En ambos casos, se usan los pies para empujar y
            dirigir la tabla y se pueden realizar giros y trucos. Sin embargo,
            el surf requiere una gran habilidad y entrenamiento para poder
            manejar las olas, mientras que el longboarding se puede aprender en
            menos tiempo y se practica en superficies planas.
          </p>
          <img class="foto2" src="../estilo/img/lon2.jpg" alt="foto2" />
          <img class="foto3" src="../estilo/img/lon3.jpg" alt="foto3" />
        </div>
      </section>
    </main>
    <footer>
      <section>
        <a href="./Longboard.html">Ir al comienzo</a>
        <a href="mailto: luchellifederico@gmail.com">Email</a>
      </section>
      <p>Copyright 2023</p>
    </footer>
  </body>
</html>
