<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo/style.css" />
    <title>preEntrega2</title>
  </head>
  <body>
    <header>
      <h1>fuera De La Caja</h1>
      <nav>
        <ul class="menu">
          <li class="item"><a href="../index.html">Inicio</a></li>
          <li class="item"><a href="./Nosotros.html">Nosotros</a></li>
          <li class="item">
            <a href="./gallery.html">Galería</a>
            <ul class="submenu">
              <li class="sub_i">
                <a href="./Inteligencia.html">> Inteligencia</a>
              </li>
              <li class="sub_i">
                <a href="./Longboard.html">> Longboard</a>
              </li>
              <li class="sub_i">
                <a href="./Rock_Roll.html">> Rock & Roll</a>
              </li>
            </ul>
          </li>
          <li class="item"><a href="./Contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="box1">
          <h2>Creador</h2>
          <img
            class="sintransparencia"
            src="../estilo/img/onTheRoad.png"
            alt=""
          />

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit est
            eum sapiente cumque provident inventore consectetur mollitia,
            perspiciatis quas debitis dolore velit voluptates iusto quasi quis
            dolores dolorum vitae tempore! Ducimus in, quod inventore dolor
            praesentium accusantium ab provident repudiandae dolorum impedit
            repellat quam quas, architecto perspiciatis quo! Repudiandae fugit
            deleniti dolorem fugiat? Ipsum laboriosam nihil voluptas illo
            pariatur a! Vel autem adipisci laborum voluptatem quam rerum nobis
            accusamus, illo tempore expedita minus corporis non totam quibusdam
            eos labore obcaecati. Sit rem, illo corrupti alias provident id
            minus placeat soluta! Est dolores enim earum officia eligendi
            debitis atque deserunt doloribus ipsam? Quibusdam aut soluta
            nesciunt vitae incidunt eaque beatae exercitationem vel, aliquam
            ipsam unde itaque quas, modi accusantium error ea.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <section>
        <a href="./Nosotros.html">Ir al comienzo</a>
        <a href="mailto: luchellifederico@gmail.com">Email</a>
      </section>
      <p>Copyright 2023</p>
    </footer>
  </body>
</html>
