* {
  margin: 0px;
  padding: 0;
  font-family: Arial;
}
body {
  width: 95%;
  padding: 0;
  margin: 0px;
  min-height: 100vh;
  background-image: url(./img/fon4.jpg);
  margin: auto;
}

/*      Comienza el GRID       */

.grilla {
  display: grid;
  grid-template-areas:
    "header header"
    "box1 publicidad"
    "box2 publicidad"
    "box3 publicidad"
    "foot foot";
  grid-template-columns: auto 15%;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100vh;
  margin: 0;
}

header {
  grid-area: header;
}
h1 {
  color: rgba(255, 255, 255);
  padding: 2rem 3rem;
  font-family: "abstract";
  font-size: 2.5rem;
  text-align: left;
  line-height: 90px;
}

/*    Comienza el navegador    */

nav {
  text-align: center;
}
.menu {
  background-color: rgb(35, 35, 35);
  list-style-type: none;
  width: 100%;
  height: 50px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}
.menu .submenu {
  position: absolute;
  list-style-type: none;
  display: none;
}
.menu .submenu .sub_i {
  font-size: 1rem;
  display: flex;
}
.menu .item a {
  color: #47ee7f;
  text-decoration: none;
  font-weight: bolder;
  padding: 14px;
}
.menu .item:hover a {
  background: linear-gradient(to bottom, #dc6002, #f051b0);
  color: black;
  transform: scale(1.1);
  transition: 0.2s ease;
}
.menu .item:hover .submenu {
  display: flex;
  flex-direction: column;
  width: auto;
  background: linear-gradient(to top, #dc6002, #f051b0);
  padding: 7px;
}
.menu .item:hover .submenu a {
  background: none;
  font-size: 1rem;
  color: black;
  padding: 7px;
}

/*    Comienza el contenido principal   */

.box1 {
  grid-area: box1;
  background: -webkit-repeating-linear-gradient(
    rgb(35 35 35),
    #47ee7f,
    #4a72fb,
    rgb(35, 35, 35)
  );
  padding: 15px;
  text-align: justify;
  line-height: 30px;
  font-size: 25px;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box1 p {
  font-size: 25px;
  width: 96%;
  padding: 20px;
}
.box1 img {
  width: 45%;
  height: 400px;
  padding: 20px;
}
.box1 h2 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
.box1 h3 {
  font-size: 40px;
  padding: 10px;
  color: #47ee7f;
  background-color: rgb(35, 35, 35);
}

/*    INDEX  ASIDE   */
aside {
  grid-area: publicidad;
  background: white;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
aside p {
  font-size: 20px;
  padding: 10px;
}
aside p:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  font-weight: bold;
}
aside img {
  width: 90%;
  border-radius: 100px;
  padding: 6px;
  transform: rotate(300deg);
  animation-name: rotacion;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 8s;
}
@keyframes rotacion {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/*    INDEX _ CAJA FLOTANTE    */
.fija {
  font-family: Arial;
  background-color: whitesmoke;
  border: solid 1px black;
  padding: 5px;
  display: inline-block;
  font-size: 24px;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 80px;
  right: 90px;
  text-decoration: none;
}
.fija a {
  color: black;
  text-decoration: none;
}
.fija:hover {
  transform: scale(1.1);
  border-color: solid 1px black;
  transition: 0.3s ease;
}

/*    INDEX FOOTER    */
footer {
  grid-area: foot;
  background-color: rgb(35, 35, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
}
footer p {
  color: #efefef;
}
footer a {
  transition: color 0.3s ease;
  color: #efefef;
  text-decoration: none;
}
footer a:hover {
  color: #47ee7f;
}

/* DISPOSICIÓN R&R , IA , LONG */

.info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "cards"
    "foot";
}
.info__head {
  grid-area: header;
}
.info__centro {
  grid-area: cards;
}
.info__foot {
  grid-area: foot;
}

/*    DISPOSICIÓN CONTACTO */
.comunicate {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "head"
    "card"
    "foot";
}
.comunicate__head {
  grid-area: head;
}
.comunicate__card {
  grid-area: card;
}
.comunicate__card a {
  text-decoration: none;
}
.comunicate__card h3 {
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(240, 255, 255, 0.144);
  width: 60%;
  margin-left: 100px;
  padding: 10px;
}
.comunicate__card img {
  width: 80px;
  height: 80px;
}
.comunicate__foot {
  grid-area: foot;
}

/*     NOSOTROS     */
.row {
  background-color: #efefef51;
  border-radius: 50px;
}
.nosotros h3 {
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(240, 255, 255, 0);
  text-align: left;
  font-size: 30px;
  margin: 25px;
}
.nosotros img {
  height: 600px;
  width: 450px;
  border-radius: 50px;
}

/*    DISPOSICIÓN GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "cards"
    "foot";
}

.gallery__header {
  grid-area: header;
}
.gallery__centro {
  grid-area: cards;
}
.gallery__foot {
  grid-area: foot;
}

/*    TARJETAS DE GALLERY    */
.cards {
  display: grid;
  grid-template-areas: "A B C";
  grid-template-rows: 1, 1fr;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  column-gap: 40px;
  height: 80vh;
}
.cards a {
  text-decoration: none;
}
.cardA {
  grid-area: A;
  background-color: #47ee7f;
}
.cardB {
  grid-area: B;
  background-color: #47ee7f;
}
.cardC {
  grid-area: C;
  background-color: #47ee7f;
}
.cards img {
  width: 300px;
  height: 300px;
  opacity: 0.4;
  transition: 0.3s ease;
}
.cards img:hover {
  opacity: 1;
}

/*    DISEÑO MOBILE     */
@media screen and (max-width: 800px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "header "
      "publicidad "
      "box1 "
      "box2 "
      "box3 "
      "foot ";
  }
  aside {
    grid-area: publicidad;
    display: none;
  }
  .fija {
    display: none;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header"
      "cards"
      "foot";
  }
  .cards {
    display: grid;
    height: auto;
    gap: 20px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "A"
      "B"
      "C";
  }
  .cards img {
    opacity: 1;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header"
      "cards"
      "foot";
  }
}
